

a {
	text-decoration: none;
}


.search-container {
	z-index: 999;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
}

.search-form {
	display: flex;
	justify-content: center;
}

.search-form input {
	width: 300px;
	padding: 10px 10px;
}

.search-form button {
	display: flex;
	margin-left: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;

}

.search-form button:hover,
.search-form button:focus {
	background-color: green;
}

.gallery-container {
	padding-left: 15px;
	padding-right: 15px;
}

.gallery,
.info {
	display: flex;
	flex-wrap: wrap;
}

.gallery {
	padding-top: 60px;
	justify-content: center;
	gap: 20px;
}


.gallery__link:hover,
.gallery__link:focus {
	transform: scale(1.05);
}

.gallery-item {
	display: flex;
	flex-direction: column;
}

.gallery-item__img {
	display: block;
	width: 300px;
}

.info {
	padding: 10px;
	justify-content: space-around;
}

.info-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
}

.info-item:not(:first-child) {
	margin-left: 5px;
}

.btn-load-more.is-hidden {
	display: none;
}

.btn-load-more {
	display: block;
	margin: 25px auto 50px auto;
	padding: 8px 20px;
	border: none;
	border-radius: 5px;
	background-color: #fbfbfb;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.btn-to-top {
	position: fixed;
	bottom: 3vh;
	right: 1vw;
	z-index: 1000;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #fdfdfd;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	color: rgb(0, 0, 0);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}

.btn-to-top--visible {
	opacity: 1;
	visibility: visible;
}

.btn-load-more:hover,
.btn-to-top:hover {
	background-color: #c3c3c3;
	transition: all 0.3s;
}